__pycache__
plugin/app/*
plugin/conf/*
plugin/data/*
plugin/tmp/*
resource/tmp_*
logfile/*
flake8_output.log
*.egg-info
build
dist
.vscode/settings.json
*.opk
.workbuddy
data/webui_token
data/webui/
conf/*.webui-backup
tests/
tmp/
