pyinstaller==6.9.0
flask
Werkzeug==2.2.2
gevent
psutil
requests
pybase64
websockets
websocket-client
pillow==9.3.0
rsa
requests_toolbelt
pystray
aiohttp
qrcode
brotli
pyjson5
pywebview
filetype
grpcio
grpcio-tools
protobuf
