pyinstaller
flask
gevent
psutil
requests
pybase64
websockets
websocket-client
pillow==9.3.0
lxml
rsa
requests_toolbelt
pystray
pyyaml
openpyxl
pypiwin32
aiohttp
qrcode
brotli
pyjson5
APScheduler==3.10.1
js2py
certifi
httpx
prompt_toolkit
regex
rich
pywebview
filetype
grpcio
grpcio-tools
protobuf
