name: Build
on:
  push:
    branches: [ main, dev ]
    tags:
      - '*.*.*'
      - '*.*.*-*.*'
  pull_request:
    branches: [ main, dev ]
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest
    strategy:
      fail-fast: false 
      matrix:
        include:
          # Python 3.11.0 - x64 - Release
          - job-name: build-win64-release
            python-version: '3.11.0'
            architecture: x64
            debug: false
            artifact-name: OlivOS-Win
            extra-deps: '.[win,extend,build]'
          
          # Python 3.11.0 - x64 - Debug
          - artifact-name: OlivOS-Win-64-debug
            python-version: '3.11.0'
            architecture: x64
            debug: true
            job-name: build-win64-debug
            extra-deps: '.[win,extend,build]'
          
          # # Python 3.14 - x64 - Release (disabled)
          # - artifact-name: OlivOS-Win
          #   python-version: '3.14'
          #   architecture: x64
          #   debug: false
          #   job-name: build-win64-py314-release
          #   extra-deps: '.[win,extend,build]'
          #   freethreaded: true
          
          # # Python 3.14 - x64 - Debug (disabled)
          # - artifact-name: OlivOS-Win-64-debug
          #   python-version: '3.14'
          #   architecture: x64
          #   debug: true
          #   job-name: build-win64-py314-debug
          #   extra-deps: '.[win,extend,build]'
          #   freethreaded: true
          
          # Python 3.7.5 - x64 - Release
          - artifact-name: OlivOS-Win-64-old
            python-version: '3.7.5'
            architecture: x64
            debug: false
            job-name: build-win64-old-release
            extra-deps: '.[py37,win,extend,build]'
          
          # Python 3.7.5 - x64 - Debug
          - artifact-name: OlivOS-Win-64-old-debug
            python-version: '3.7.5'
            architecture: x64
            debug: true
            job-name: build-win64-old-debug
            extra-deps: '.[py37,win,extend,build]'
          
          # Python 3.7.5 - x86 - Release
          - artifact-name: OlivOS-Win-32-old
            python-version: '3.7.5'
            architecture: x86
            debug: false
            job-name: build-win32-old-release
            extra-deps: '.[py37,win,extend,build]'
          
          # Python 3.7.5 - x86 - Debug
          - artifact-name: OlivOS-Win-32-old-debug
            python-version: '3.7.5'
            architecture: x86
            debug: true
            job-name: build-win32-old-debug
            extra-deps: '.[py37,win,extend,build]'

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup Python ${{ matrix.python-version }} (${{ matrix.architecture }})
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        cache: pip
        architecture: ${{ matrix.architecture }}
        # freethreaded: ${{ matrix.freethreaded || false }}
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install ${{ matrix.extra-deps }}
    
    - name: Run packing (${{ matrix.debug && 'Debug' || 'Release' }})
      run: |
        cp ./OlivOS/hook.py ./OlivOS/hook_bak.py
        if (${{ matrix.debug && '1' || '0' }}) {
          cp ./OlivOS/hook_pack_debug.py ./OlivOS/hook.py
          $env:OLIVOS_DEBUG = "1"
        } else {
          cp ./OlivOS/hook_pack.py ./OlivOS/hook.py
        }
        pyinstaller ./OlivOS.spec
        mkdir OlivOS-Win
        if (${{ matrix.debug && '1' || '0' }}) {
          cp ./dist/OlivOS.exe ./OlivOS-Win/OlivOS_debug.exe
        } else {
          cp ./dist/OlivOS.exe ./OlivOS-Win/OlivOS.exe
        }
    
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.artifact-name }}
        path: ./OlivOS-Win

  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup Python 3.10.8
      uses: actions/setup-python@v6
      with:
        python-version: '3.10.8'
        cache: pip
        architecture: x64
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install .[extend,build]
    
    - name: Run packing
      run: |
        cp ./OlivOS/hook.py ./OlivOS/hook_bak.py
        cp ./OlivOS/hook_pack_debug.py ./OlivOS/hook.py
        pyinstaller ./OlivOS.spec
    
    - name: Prepare artifact
      run: |
        mkdir OlivOS-PKG
        cp ./dist/OlivOS ./OlivOS-PKG/OlivOS
    
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: OlivOS-Linux
        path: ./OlivOS-PKG

  build-macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup Python 3.11.0
      uses: actions/setup-python@v6
      with:
        python-version: '3.11.0'
        cache: pip
        architecture: x64
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install .[extend,build]
    
    - name: Run packing
      run: |
        cp ./OlivOS/hook.py ./OlivOS/hook_bak.py
        cp ./OlivOS/hook_pack_debug.py ./OlivOS/hook.py
        pyinstaller ./OlivOS.spec
    
    - name: Prepare artifact
      run: |
        mkdir OlivOS-PKG
        cp ./dist/OlivOS ./OlivOS-PKG/OlivOS
    
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: OlivOS-MacOS
        path: ./OlivOS-PKG

  release-draft:
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag'
    needs:
      - build-windows
      - build-linux
    permissions:
      contents: write
    steps:
      - name: Download Windows Artifact
        uses: actions/download-artifact@v4
        with:
          name: OlivOS-Win
          path: OlivOS-Win/
      
      - name: Download Linux Artifact
        uses: actions/download-artifact@v4
        with:
          name: OlivOS-Linux
          path: OlivOS-Linux/
      
      - name: Packing Release
        run: |
          cd ./OlivOS-Win
          zip -r ../OlivOS-Win.zip ./
          cd ../
          cp ./OlivOS-Win.zip ./OlivOS-Win-${{ github.ref_name }}.zip
          
          cd ./OlivOS-Linux
          zip -r ../OlivOS-Linux.zip ./
          cd ../
          cp ./OlivOS-Linux.zip ./OlivOS-Linux-${{ github.ref_name }}.zip
          
          ls -R
      
      - name: Create Draft Release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
          draft: true
          allowUpdates: true
          removeArtifacts: true
          artifacts: |
            ./OlivOS-Win.zip
            ./OlivOS-Win-${{ github.ref_name }}.zip
            ./OlivOS-Linux.zip
            ./OlivOS-Linux-${{ github.ref_name }}.zip
