name: Build Task Windows
on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      enable:
        required: true
        type: boolean
        default: true
      runs-on:
        required: true
        type: string
      python-version:
        required: true
        type: string
      arch:
        required: true
        type: string
      python-arch:
        required: true
        type: string
      freethreaded:
        required: false
        type: boolean
        default: false
      build-type:
        required: true
        type: string
      debug: 
        required: false
        type: boolean
        default: false

jobs:
  build:
    if: inputs.enable && inputs.runs-on == 'windows-latest'
    runs-on: ${{ inputs.runs-on }}
    defaults:
      run:
        shell: pwsh
    steps:
    - uses: actions/checkout@v3

    - name: Install MSVC Build Tools
      if: false && inputs.build-type == 'nuitka'
      run: |
        choco install visualstudio2022buildtools -y --package-parameters "--add Microsoft.VisualStudio.Workload.VCTools --includeRecommended --includeOptional"
        echo "MSBUILD_PATH=C:\Program Files\Microsoft Visual Studio\2022\BuildTools\MSBuild\Current\Bin" >> $env:GITHUB_ENV
        echo "PATH=$MSBUILD_PATH;$env:PATH" >> $env:GITHUB_ENV

    - name: Setup Python ${{ inputs.python-version }} (${{ inputs.python-arch }})
      id: setup-python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ inputs.python-version }}
        cache: pip
        architecture: ${{ inputs.python-arch }}
        freethreaded: ${{ inputs.freethreaded && true || false }}
    
    - name: Build by ${{ inputs.build-type }} (${{ inputs.debug && 'Debug' || 'Release' }})
      id: build
      run: |
        $PYTHON_EXE = "${{ steps.setup-python.outputs.python-path }}"
        $PYTHON_ROOT = Split-Path -Parent $PYTHON_EXE
        echo "Python root directory: ${PYTHON_ROOT}"
        mkdir -p ./python
        cp -r "${PYTHON_ROOT}/*" ./python/
        $PYTHON = "${{ github.workspace }}/python/python.exe"
        echo "PYTHON=$PYTHON" >> $GITHUB_OUTPUT
        & $PYTHON -m pip install --upgrade pip
        & $PYTHON -m pip install .[${{ inputs.python-version == '3.7.5' && 'py37,' || '' }}win,extend,${{ inputs.build-type }}]
        cp ./OlivOS/hook.py ./OlivOS/hook_bak.py
        if (${{ inputs.build-type == 'pyinstaller' && '1' || '0' }}) {
          if (${{ inputs.debug && '1' || '0' }}) {
            cp ./OlivOS/hook_pack_debug.py ./OlivOS/hook.py
            $env:OLIVOS_DEBUG = "1"
          } else {
            cp ./OlivOS/hook_pack.py ./OlivOS/hook.py
          }
          & $PYTHON -m PyInstaller ./OlivOS.spec
        } elseif (${{ inputs.build-type == 'nuitka' && '1' || '0' }}) {
          cp ./OlivOS/hook_pack_debug.py ./OlivOS/hook.py
          & $PYTHON ./script/nuitka_build.py
        }
        mkdir OlivOS-PKG
        if (${{ inputs.build-type == 'pack' && '1' || '0' }}) {
          cp -r ./OlivOS ./OlivOS-PKG/
          cp -r ./python ./OlivOS-PKG/
          cp ./main.py ./OlivOS-PKG/
        } else {
          if (${{ inputs.debug && '1' || '0' }}) {
            cp ./dist/OlivOS.exe ./OlivOS-PKG/OlivOS_debug.exe
          } else {
            cp ./dist/OlivOS.exe ./OlivOS-PKG/OlivOS.exe
          }
        }
    
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ inputs.name }}
        path: ./OlivOS-PKG

    - name: Upload Publish Artifact
      uses: actions/upload-artifact@v4
      if: inputs.name == 'OlivOS-Win64-release'
      with:
        name: OlivOS-Win
        path: ./OlivOS-PKG
