name: Build Dispatch
on:
  workflow_dispatch:
    inputs:
      runs-on:
        required: true
        type: choice
        options:
          - windows-latest
          - ubuntu-latest
          - macos-latest
        default: windows-latest
      python-version:
        required: true
        type: choice
        options:
          - '3.7.5'
          - '3.10.8'
          - '3.11.0'
          - '3.14'
        default: '3.11.0'
      arch:
        required: true
        type: choice
        options:
          - amd64
          - '386'
          - arm64
        default: amd64
      python-arch:
        required: true
        type: choice
        options:
          - x64
          - x86
        default: x64
      freethreaded:
        required: false
        type: boolean
        default: false
      build-type:
        required: true
        type: choice
        options:
          - pyinstaller
          - nuitka
        default: pyinstaller
      debug: 
        required: false
        type: boolean
        default: false

jobs:
  build-windows:
    uses: ./.github/workflows/build-task-windows.yml
    with:
      name: OlivOS-Win
      enable: true
      runs-on: ${{ inputs.runs-on }}
      python-version: ${{ inputs.python-version }}
      arch: ${{ inputs.arch }}
      python-arch: ${{ inputs.python-arch }}
      freethreaded: ${{ inputs.freethreaded }}
      build-type: ${{ inputs.build-type }}
      debug: ${{ inputs.debug }}

  build-linux:
    uses: ./.github/workflows/build-task-linux.yml
    with:
      name: OlivOS-Linux
      enable: true
      runs-on: ${{ inputs.runs-on }}
      python-version: ${{ inputs.python-version }}
      arch: ${{ inputs.arch }}
      python-arch: ${{ inputs.python-arch }}
      freethreaded: ${{ inputs.freethreaded }}
      build-type: ${{ inputs.build-type }}
      debug: ${{ inputs.debug }}

  build-macos:
    uses: ./.github/workflows/build-task-macos.yml
    with:
      name: OlivOS-MacOS
      enable: true
      runs-on: ${{ inputs.runs-on }}
      python-version: ${{ inputs.python-version }}
      arch: ${{ inputs.arch }}
      python-arch: ${{ inputs.python-arch }}
      freethreaded: ${{ inputs.freethreaded }}
      build-type: ${{ inputs.build-type }}
      debug: ${{ inputs.debug }}
