name: Build
on:
  push:
    branches: [ main, dev ]
    tags:
      - '*.*.*'
      - '*.*.*-*.*'
  pull_request:
    branches: [ main, dev ]

jobs:
  build-windows-publish:
    uses: ./.github/workflows/build-task-windows.yml
    strategy:
      fail-fast: false 
      matrix:
        include:
          - name: OlivOS-Win64-release
            runs-on: windows-latest
            python-version: '3.11.0'
            architecture: x64
            freethreaded: false
            build-type: pyinstaller
            debug: false
    with:
      name: ${{ matrix.name }}
      runs-on: ${{ matrix.runs-on }}
      python-version: ${{ matrix.python-version }}
      architecture: ${{ matrix.architecture }}
      freethreaded: ${{ matrix.freethreaded }}
      build-type: ${{ matrix.build-type }}
      debug: ${{ matrix.debug }}

  build-windows:
    uses: ./.github/workflows/build-task-windows.yml
    strategy:
      fail-fast: false 
      matrix:
        include:
          - name: OlivOS-Win64-debug
            runs-on: windows-latest
            python-version: '3.11.0'
            architecture: x64
            freethreaded: false
            build-type: pyinstaller
            debug: true
          
          # - name: OlivOS-Win64-py314-release
          #   runs-on: windows-latest
          #   python-version: '3.14'
          #   architecture: x64
          #   freethreaded: true
          #   build-type: pyinstaller
          #   debug: false
          
          # - name: OlivOS-Win64-py314-debug
          #   runs-on: windows-latest
          #   python-version: '3.14'
          #   architecture: x64
          #   freethreaded: true
          #   build-type: pyinstaller
          #   debug: true

          - name: OlivOS-Win64-nuitka-release
            runs-on: windows-latest
            python-version: '3.11.0'
            architecture: x64
            freethreaded: false
            build-type: nuitka
            debug: false
          
          - name: OlivOS-Win64-old-release
            runs-on: windows-latest
            python-version: '3.7.5'
            architecture: x64
            freethreaded: false
            build-type: pyinstaller
            debug: false
          
          - name: OlivOS-Win64-old-debug
            runs-on: windows-latest
            python-version: '3.7.5'
            architecture: x64
            freethreaded: false
            build-type: pyinstaller
            debug: true
          
          - name: OlivOS-Win32-old-release
            runs-on: windows-latest
            python-version: '3.7.5'
            architecture: x86
            freethreaded: false
            build-type: pyinstaller
            debug: false
          
          - name: OlivOS-Win32-old-debug
            runs-on: windows-latest
            python-version: '3.7.5'
            architecture: x86
            freethreaded: false
            build-type: pyinstaller
            debug: true
    with:
      name: ${{ matrix.name }}
      runs-on: ${{ matrix.runs-on }}
      python-version: ${{ matrix.python-version }}
      architecture: ${{ matrix.architecture }}
      freethreaded: ${{ matrix.freethreaded }}
      build-type: ${{ matrix.build-type }}
      debug: ${{ matrix.debug }}

  build-linux-publish:
    uses: ./.github/workflows/build-task-linux.yml
    strategy:
      fail-fast: false 
      matrix:
        include:
          - name: OlivOS-Linux64-release
            runs-on: ubuntu-latest
            python-version: '3.10.8'
            architecture: x64
            freethreaded: false
            build-type: pyinstaller
            debug: false
    with:
      name: ${{ matrix.name }}
      runs-on: ${{ matrix.runs-on }}
      python-version: ${{ matrix.python-version }}
      architecture: ${{ matrix.architecture }}
      freethreaded: ${{ matrix.freethreaded }}
      build-type: ${{ matrix.build-type }}
      debug: ${{ matrix.debug }}

  build-macos-publish:
    uses: ./.github/workflows/build-task-macos.yml
    strategy:
      fail-fast: false 
      matrix:
        include:
          - name: OlivOS-MacOS64-release
            runs-on: macos-latest
            python-version: '3.11.0'
            architecture: x64
            freethreaded: false
            build-type: pyinstaller
            debug: false
    with:
      name: ${{ matrix.name }}
      runs-on: ${{ matrix.runs-on }}
      python-version: ${{ matrix.python-version }}
      architecture: ${{ matrix.architecture }}
      freethreaded: ${{ matrix.freethreaded }}
      build-type: ${{ matrix.build-type }}
      debug: ${{ matrix.debug }}

  release-draft:
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag'
    needs:
      - build-windows-publish
      - build-linux-publish
    permissions:
      contents: write
    steps:
      - name: Download Windows Artifact
        uses: actions/download-artifact@v4
        with:
          name: OlivOS-Win
          path: OlivOS-Win/
      
      - name: Download Linux Artifact
        uses: actions/download-artifact@v4
        with:
          name: OlivOS-Linux
          path: OlivOS-Linux/
      
      - name: Packing Release
        run: |
          cd ./OlivOS-Win
          zip -r ../OlivOS-Win.zip ./
          cd ../
          cp ./OlivOS-Win.zip ./OlivOS-Win-${{ github.ref_name }}.zip
          
          cd ./OlivOS-Linux
          zip -r ../OlivOS-Linux.zip ./
          cd ../
          cp ./OlivOS-Linux.zip ./OlivOS-Linux-${{ github.ref_name }}.zip
          
          ls -R
      
      - name: Create Draft Release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
          draft: true
          allowUpdates: true
          removeArtifacts: true
          artifacts: |
            ./OlivOS-Win.zip
            ./OlivOS-Win-${{ github.ref_name }}.zip
            ./OlivOS-Linux.zip
            ./OlivOS-Linux-${{ github.ref_name }}.zip
