name: Build Task MacOS
on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      enable:
        required: true
        type: boolean
        default: true
      runs-on:
        required: true
        type: string
      python-version:
        required: true
        type: string
      arch:
        required: true
        type: string
      python-arch:
        required: true
        type: string
      freethreaded:
        required: false
        type: boolean
        default: false
      build-type:
        required: true
        type: string
      debug: 
        required: false
        type: boolean
        default: false

jobs:
  build:
    if: inputs.enable && inputs.runs-on == 'macos-latest'
    runs-on: ${{ inputs.runs-on }}
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup Python ${{ inputs.python-version }} (${{ inputs.python-arch }})
      id: setup-python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ inputs.python-version }}
        cache: pip
        architecture: ${{ inputs.python-arch }}
        freethreaded: ${{ inputs.freethreaded && true || false }}
    
    - name: Install Python
      id: install-python
      run: |
        PYTHON_EXE="${{ steps.setup-python.outputs.python-path }}"
        PYTHON_ROOT="$(dirname "$(dirname "$PYTHON_EXE")")"
        echo "Python root directory: ${PYTHON_ROOT}"
        mkdir -p ./python
        cp -r "${PYTHON_ROOT}"/* ./python/
        chmod +x ./python/bin/python*
        PYTHON="${{ github.workspace }}/python/bin/python"
        echo "PYTHON=${PYTHON}" >> $GITHUB_OUTPUT
    
    - name: Build by ${{ inputs.build-type }} (${{ inputs.debug && 'Debug' || 'Release' }})
      id: build
      run: |
        PYTHON="${{ steps.install-python.outputs.PYTHON }}"
        echo "PYTHON=${PYTHON}" >> $GITHUB_OUTPUT
        "${PYTHON}" -m pip install --upgrade pip
        "${PYTHON}" -m pip install .[extend,${{ inputs.build-type }}]
        cp ./OlivOS/hook.py ./OlivOS/hook_bak.py
        cp ./OlivOS/hook_pack_debug.py ./OlivOS/hook.py
        if [[ ${{ inputs.build-type == 'pyinstaller' && '1' || '0' }} -eq 1 ]]; then
          "${PYTHON}" -m PyInstaller ./OlivOS.spec
        elif [[ ${{ inputs.build-type == 'nuitka' && '1' || '0' }} -eq 1 ]]; then
          "${PYTHON}" ./script/nuitka_build.py
        fi
        mkdir OlivOS-PKG
        if [[ ${{ inputs.build-type == 'pack' && '1' || '0' }} -eq 1 ]]; then
          cp -r ./OlivOS ./OlivOS-PKG/
          cp -r ./python ./OlivOS-PKG/
          cp ./main.py ./OlivOS-PKG/
        else
          cp ./dist/OlivOS* ./OlivOS-PKG/
        fi
    
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ inputs.name }}
        path: ./OlivOS-PKG
    
    - name: Upload Publish Artifact
      uses: actions/upload-artifact@v4
      if: inputs.name == 'OlivOS-MacOS64-release'
      with:
        name: OlivOS-MacOS
        path: ./OlivOS-PKG
