name: Build
on:
  push:
    branches: [ main, dev ]
    tags:
      - '*.*.*'
      - '*.*.*-*.*'
  pull_request:
    branches: [ main, dev ]
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest
    strategy:
      fail-fast: false 
      matrix:
        include:
          # Python 3.11.0 - x64 - Release
          - name: build-win64-release
            python-version: '3.11.0'
            architecture: x64
            freethreaded: false
            build-type: pyinstaller
            debug: false
          
          # Python 3.11.0 - x64 - Debug
          - name: build-win64-debug
            python-version: '3.11.0'
            architecture: x64
            freethreaded: false
            build-type: pyinstaller
            debug: true
          
          # # Python 3.14 - x64 - Release (disabled)
          # - name: build-win64-py314-release
          #   python-version: '3.14'
          #   architecture: x64
          #   freethreaded: true
          #   build-type: pyinstaller
          #   debug: false
          
          # # Python 3.14 - x64 - Debug (disabled)
          # - name: build-win64-py314-debug
          #   python-version: '3.14'
          #   architecture: x64
          #   freethreaded: true
          #   build-type: pyinstaller
          #   debug: true

          # Python 3.11.0 - x64 - Nuitka - Release
          - name: build-win64-nuitka-release
            python-version: '3.11.0'
            architecture: x64
            freethreaded: false
            build-type: nuitka
            debug: false
          
          # Python 3.11.0 - x64 - Nuitka - Debug
          - name: build-win64-nuitka-debug
            python-version: '3.11.0'
            architecture: x64
            freethreaded: false
            build-type: nuitka
            debug: true
          
          # Python 3.7.5 - x64 - Release
          - name: build-win64-old-release
            python-version: '3.7.5'
            architecture: x64
            freethreaded: false
            build-type: pyinstaller
            debug: false
          
          # Python 3.7.5 - x64 - Debug
          - name: build-win64-old-debug
            python-version: '3.7.5'
            architecture: x64
            freethreaded: false
            build-type: pyinstaller
            debug: true
          
          # Python 3.7.5 - x86 - Release
          - name: build-win32-old-release
            python-version: '3.7.5'
            architecture: x86
            freethreaded: false
            build-type: pyinstaller
            debug: false
          
          # Python 3.7.5 - x86 - Debug
          - name: build-win32-old-debug
            python-version: '3.7.5'
            architecture: x86
            freethreaded: false
            build-type: pyinstaller
            debug: true

    steps:
    - uses: actions/checkout@v3

    - name: Install MSVC Build Tools
      if: matrix.build-type == 'nuitka'
      run: |
        choco install visualstudio2022buildtools -y --package-parameters "--add Microsoft.VisualStudio.Workload.VCTools --includeRecommended --includeOptional"
        echo "MSBUILD_PATH=C:\Program Files\Microsoft Visual Studio\2022\BuildTools\MSBuild\Current\Bin" >> $env:GITHUB_ENV
        echo "PATH=$MSBUILD_PATH;$env:PATH" >> $env:GITHUB_ENV

    - name: Setup Python ${{ matrix.python-version }} (${{ matrix.architecture }})
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        cache: pip
        architecture: ${{ matrix.architecture }}
        freethreaded: ${{ matrix.freethreaded && true || false }}
    
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install .[${{ matrix.python-version == '3.7.5' && 'py37,' || '' }}win,extend,${{ matrix.build-type == 'pyinstaller' && 'build' || matrix.build-type }}]
    
    - name: Build (${{ matrix.debug && 'Debug' || 'Release' }})
      run: |
        cp ./OlivOS/hook.py ./OlivOS/hook_bak.py
        if (${{ matrix.build-type == 'pyinstaller' && '1' || '0' }}) {
          if (${{ matrix.debug && '1' || '0' }}) {
            cp ./OlivOS/hook_pack_debug.py ./OlivOS/hook.py
            $env:OLIVOS_DEBUG = "1"
          } else {
            cp ./OlivOS/hook_pack.py ./OlivOS/hook.py
          }
          pyinstaller ./OlivOS.spec
        } else {
          cp ./OlivOS/hook_pack_debug.py ./OlivOS/hook.py
          echo “Yes” | nuitka --standalone `
                              --onefile `
                              --output-dir=./dist `
                              --output-filename=OlivOS `
                              --follow-imports `
                              --windows-icon-from-ico=./resource/favoricon.ico `
                              --enable-plugin=tk-inter `
                              --include-package=tkinter `
                              --windows-console-mode=attach `
                              --low-memory `
                              --jobs=2 `
                              --show-progress `
                              main.py
        }
        mkdir OlivOS-Win
        if (${{ matrix.debug && '1' || '0' }}) {
          cp ./dist/OlivOS.exe ./OlivOS-Win/OlivOS_debug.exe
        } else {
          cp ./dist/OlivOS.exe ./OlivOS-Win/OlivOS.exe
        }
    
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.name }}
        path: ./OlivOS-Win

    - name: Upload Publish Artifact
      uses: actions/upload-artifact@v4
      if: matrix.name == 'build-win64-release'
      with:
        name: OlivOS-Win
        path: ./OlivOS-Win

  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup Python 3.10.8
      uses: actions/setup-python@v6
      with:
        python-version: '3.10.8'
        cache: pip
        architecture: x64
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install .[extend,build]
    
    - name: Packing
      run: |
        cp ./OlivOS/hook.py ./OlivOS/hook_bak.py
        cp ./OlivOS/hook_pack_debug.py ./OlivOS/hook.py
        pyinstaller ./OlivOS.spec
        mkdir OlivOS-PKG
        cp ./dist/OlivOS ./OlivOS-PKG/OlivOS
    
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: OlivOS-Linux
        path: ./OlivOS-PKG

  build-macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup Python 3.11.0
      uses: actions/setup-python@v6
      with:
        python-version: '3.11.0'
        cache: pip
        architecture: x64
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install .[extend,build]
    
    - name: Run Packing
      run: |
        cp ./OlivOS/hook.py ./OlivOS/hook_bak.py
        cp ./OlivOS/hook_pack_debug.py ./OlivOS/hook.py
        pyinstaller ./OlivOS.spec
        mkdir OlivOS-PKG
        cp ./dist/OlivOS ./OlivOS-PKG/OlivOS
    
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: OlivOS-MacOS
        path: ./OlivOS-PKG

  release-draft:
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag'
    needs:
      - build-windows
      - build-linux
    permissions:
      contents: write
    steps:
      - name: Download Windows Artifact
        uses: actions/download-artifact@v4
        with:
          name: OlivOS-Win
          path: OlivOS-Win/
      
      - name: Download Linux Artifact
        uses: actions/download-artifact@v4
        with:
          name: OlivOS-Linux
          path: OlivOS-Linux/
      
      - name: Packing Release
        run: |
          cd ./OlivOS-Win
          zip -r ../OlivOS-Win.zip ./
          cd ../
          cp ./OlivOS-Win.zip ./OlivOS-Win-${{ github.ref_name }}.zip
          
          cd ./OlivOS-Linux
          zip -r ../OlivOS-Linux.zip ./
          cd ../
          cp ./OlivOS-Linux.zip ./OlivOS-Linux-${{ github.ref_name }}.zip
          
          ls -R
      
      - name: Create Draft Release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
          draft: true
          allowUpdates: true
          removeArtifacts: true
          artifacts: |
            ./OlivOS-Win.zip
            ./OlivOS-Win-${{ github.ref_name }}.zip
            ./OlivOS-Linux.zip
            ./OlivOS-Linux-${{ github.ref_name }}.zip
