name: Build Task Linux
on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      runs-on:
        required: true
        type: string
      python-version:
        required: true
        type: string
      architecture:
        required: true
        type: string
      freethreaded:
        required: false
        type: boolean
        default: false
      build-type:
        required: true
        type: string
      debug: 
        required: false
        type: boolean
        default: false

jobs:
  build:
    if: inputs.runs-on == 'ubuntu-latest'
    runs-on: ${{ inputs.runs-on }}
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup Python ${{ inputs.python-version }} (${{ inputs.architecture }})
      uses: actions/setup-python@v6
      with:
        python-version: ${{ inputs.python-version }}
        cache: pip
        architecture: ${{ inputs.architecture }}
        freethreaded: ${{ inputs.freethreaded && true || false }}
    
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install .[extend,build]
    
    - name: Build by ${{ inputs.build-type }} (${{ inputs.debug && 'Debug' || 'Release' }})
      run: |
        cp ./OlivOS/hook.py ./OlivOS/hook_bak.py
        cp ./OlivOS/hook_pack_debug.py ./OlivOS/hook.py
        if [[ ${{ inputs.build-type == 'pyinstaller' && '1' || '0' }} -eq 1 ]]; then
          pyinstaller ./OlivOS.spec
        elif [[ ${{ inputs.build-type == 'nuitka' && '1' || '0' }} -eq 1 ]]; then
          python ./script/nuitka_build.py
        fi
        mkdir OlivOS-PKG
        cp ./dist/OlivOS* ./OlivOS-PKG/
    
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ inputs.name }}
        path: ./OlivOS-PKG
    
    - name: Upload Publish Artifact
      uses: actions/upload-artifact@v4
      if: inputs.name == 'OlivOS-Linux64-release'
      with:
        name: OlivOS-Linux
        path: ./OlivOS-PKG
