name: Build
on:
  push:
    branches: [ main, dev ]
    tags:
      - '*.*.*'
      - '*.*.*-*.*'
  pull_request:
    branches: [ main, dev ]
  workflow_dispatch:
jobs:
  build-win64-old-release:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.7.5
        cache: pip
        architecture: x64
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install .[py37,win,extend,build]
    - name: Run packing
      run: |
        cp ./OlivOS/hook.py ./OlivOS/hook_bak.py
        cp ./OlivOS/hook_pack.py ./OlivOS/hook.py
        pyinstaller ./OlivOS.spec
    - name: Run artifact
      run: |
        mkdir OlivOS-Win
        cp ./dist/OlivOS.exe ./OlivOS-win/OlivOS.exe
    - name: Upload Artifact OlivOS
      uses: actions/upload-artifact@v4
      with:
        name: OlivOS-Win-64-old
        path: ./OlivOS-Win

  build-win64-old-debug:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.7.5
        cache: pip
        architecture: x64
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install .[py37,win,extend,build]
    - name: Run packing
      run: |
        cp ./OlivOS/hook.py ./OlivOS/hook_bak.py
        cp ./OlivOS/hook_pack_debug.py ./OlivOS/hook.py
        set OLIVOS_DEBUG=1
        pyinstaller ./OlivOS.spec
    - name: Run artifact
      run: |
        mkdir OlivOS-Win
        cp ./dist/OlivOS.exe ./OlivOS-win/OlivOS_debug.exe
    - name: Upload Artifact OlivOS
      uses: actions/upload-artifact@v4
      with:
        name: OlivOS-Win-64-old-debug
        path: ./OlivOS-Win

  build-win32-old-release:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.7.5
        cache: pip
        architecture: x86
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install .[py37,win,extend,build]
    - name: Run packing
      run: |
        cp ./OlivOS/hook.py ./OlivOS/hook_bak.py
        cp ./OlivOS/hook_pack.py ./OlivOS/hook.py
        pyinstaller ./OlivOS.spec
    - name: Run artifact
      run: |
        mkdir OlivOS-Win
        cp ./dist/OlivOS.exe ./OlivOS-win/OlivOS.exe
    - name: Upload Artifact OlivOS
      uses: actions/upload-artifact@v4
      with:
        name: OlivOS-Win-32-old
        path: ./OlivOS-Win

  build-win32-old-debug:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.7.5
        cache: pip
        architecture: x86
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install .[py37,win,extend,build]
    - name: Run packing
      run: |
        cp ./OlivOS/hook.py ./OlivOS/hook_bak.py
        cp ./OlivOS/hook_pack_debug.py ./OlivOS/hook.py
        set OLIVOS_DEBUG=1
        pyinstaller ./OlivOS.spec
    - name: Run artifact
      run: |
        mkdir OlivOS-Win
        cp ./dist/OlivOS.exe ./OlivOS-win/OlivOS_debug.exe
    - name: Upload Artifact OlivOS
      uses: actions/upload-artifact@v4
      with:
        name: OlivOS-Win-32-old-debug
        path: ./OlivOS-Win

  build-win64-release:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11.0
        cache: pip
        architecture: x64
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install .[win,extend,build]
    - name: Run packing
      run: |
        cp ./OlivOS/hook.py ./OlivOS/hook_bak.py
        cp ./OlivOS/hook_pack.py ./OlivOS/hook.py
        pyinstaller ./OlivOS.spec
    - name: Run artifact
      run: |
        mkdir OlivOS-Win
        cp ./dist/OlivOS.exe ./OlivOS-win/OlivOS.exe
    - name: Upload Artifact OlivOS
      uses: actions/upload-artifact@v4
      with:
        name: OlivOS-Win
        path: ./OlivOS-Win

  build-win64-debug:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11.0
        cache: pip
        architecture: x64
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install .[win,extend,build]
    - name: Run packing
      run: |
        cp ./OlivOS/hook.py ./OlivOS/hook_bak.py
        cp ./OlivOS/hook_pack_debug.py ./OlivOS/hook.py
        set OLIVOS_DEBUG=1
        pyinstaller ./OlivOS.spec
    - name: Run artifact
      run: |
        mkdir OlivOS-Win
        cp ./dist/OlivOS.exe ./OlivOS-win/OlivOS_debug.exe
    - name: Upload Artifact OlivOS
      uses: actions/upload-artifact@v4
      with:
        name: OlivOS-Win-64-debug
        path: ./OlivOS-Win

  build-linux-release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.10.8
        cache: pip
        architecture: x64
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install .[extend,build]
    - name: Run packing
      run: |
        cp ./OlivOS/hook.py ./OlivOS/hook_bak.py
        cp ./OlivOS/hook_pack_debug.py ./OlivOS/hook.py
        pyinstaller ./OlivOS.spec
    - name: Run artifact
      run: |
        mkdir OlivOS-PKG
        cp ./dist/OlivOS ./OlivOS-PKG/OlivOS
    - name: Upload Artifact OlivOS
      uses: actions/upload-artifact@v4
      with:
        name: OlivOS-Linux
        path: ./OlivOS-PKG

  build-macos-release:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11.0
        cache: pip
        architecture: x64
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install .[extend,build]
    - name: Run packing
      run: |
        cp ./OlivOS/hook.py ./OlivOS/hook_bak.py
        cp ./OlivOS/hook_pack_debug.py ./OlivOS/hook.py
        pyinstaller ./OlivOS.spec
    - name: Run artifact
      run: |
        mkdir OlivOS-PKG
        cp ./dist/OlivOS ./OlivOS-PKG/OlivOS
    - name: Upload Artifact OlivOS
      uses: actions/upload-artifact@v4
      with:
        name: OlivOS-MacOS
        path: ./OlivOS-PKG

  release-draft:
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag'
    needs:
      - build-win64-release
      - build-linux-release
    permissions:
      contents: write
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: OlivOS-Win
          path: OlivOS-Win/
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: OlivOS-Linux
          path: OlivOS-Linux/
      - name: Packing Release
        run: |
          cd ./OlivOS-Win
          zip -r ../OlivOS-Win.zip ./
          cd ../
          cp ./OlivOS-Win.zip ./OlivOS-Win-${{ github.ref_name }}.zip
          cd ./OlivOS-Linux
          zip -r ../OlivOS-Linux.zip ./
          cd ../
          cp ./OlivOS-Linux.zip ./OlivOS-Linux-${{ github.ref_name }}.zip
          ls -R
      - name: Create Draft Release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
          draft: true
          allowUpdates: true
          removeArtifacts: true
          artifacts: |
            ./OlivOS-Win.zip
            ./OlivOS-Win-${{ github.ref_name }}.zip
            ./OlivOS-Linux.zip
            ./OlivOS-Linux-${{ github.ref_name }}.zip
