name: Build
on:
  push:
    branches: [ main, dev ]
    tags:
      - '*.*.*'
      - '*.*.*-*.*'
  pull_request:
    branches: [ main, dev ]

jobs:
  build-windows-publish:
    uses: ./.github/workflows/build-task-windows.yml
    strategy:
      fail-fast: false 
      matrix:
        include:
          - name: OlivOS-Win64-release
            enable: true
            runs-on: windows-latest
            python-version: '3.11.0'
            arch: amd64
            python-arch: x64
            freethreaded: false
            build-type: pyinstaller
            debug: false
    with:
      name: ${{ matrix.name }}
      enable: ${{ matrix.enable }}
      runs-on: ${{ matrix.runs-on }}
      python-version: ${{ matrix.python-version }}
      arch: ${{ matrix.arch }}
      python-arch: ${{ matrix.python-arch }}
      freethreaded: ${{ matrix.freethreaded }}
      build-type: ${{ matrix.build-type }}
      debug: ${{ matrix.debug }}

  build-windows:
    uses: ./.github/workflows/build-task-windows.yml
    strategy:
      fail-fast: false 
      matrix:
        include:
          - name: OlivOS-Win64-debug
            enable: true
            runs-on: windows-latest
            python-version: '3.11.0'
            arch: amd64
            python-arch: x64
            freethreaded: false
            build-type: pyinstaller
            debug: true

          - name: OlivOS-Win64-cpy311-release
            enable: true
            runs-on: windows-latest
            python-version: '3.11'
            arch: amd64
            python-arch: x64
            freethreaded: false
            build-type: pyinstaller
            debug: false

          - name: OlivOS-Win64-cpy311-debug
            enable: true
            runs-on: windows-latest
            python-version: '3.11'
            arch: amd64
            python-arch: x64
            freethreaded: false
            build-type: pyinstaller
            debug: true
          
          - name: OlivOS-Win64-cpy314-release
            enable: false
            runs-on: windows-latest
            python-version: '3.14'
            arch: amd64
            python-arch: x64
            freethreaded: true
            build-type: pyinstaller
            debug: false

          - name: OlivOS-Win64-cpy314-debug
            enable: false
            runs-on: windows-latest
            python-version: '3.14'
            arch: amd64
            python-arch: x64
            freethreaded: true
            build-type: pyinstaller
            debug: true

          - name: OlivOS-Win64-nuitka
            enable: true
            runs-on: windows-latest
            python-version: '3.11.0'
            arch: amd64
            python-arch: x64
            freethreaded: false
            build-type: nuitka
            debug: false

          - name: OlivOS-Win64-cpy311-nuitka
            enable: true
            runs-on: windows-latest
            python-version: '3.11'
            arch: amd64
            python-arch: x64
            freethreaded: false
            build-type: nuitka
            debug: false

          - name: OlivOS-Win64-cpy314-nuitka
            enable: true
            runs-on: windows-latest
            python-version: '3.14'
            arch: amd64
            python-arch: x64
            freethreaded: true
            build-type: nuitka
            debug: false

          - name: OlivOS-Win64-pack
            enable: true
            runs-on: windows-latest
            python-version: '3.11.0'
            arch: amd64
            python-arch: x64
            freethreaded: false
            build-type: pack
            debug: false

          - name: OlivOS-Win64-cpy311-pack
            enable: true
            runs-on: windows-latest
            python-version: '3.11'
            arch: amd64
            python-arch: x64
            freethreaded: false
            build-type: pack
            debug: false

          - name: OlivOS-Win64-pypy311-pack
            enable: false
            runs-on: windows-latest
            python-version: 'pypy3.11'
            arch: amd64
            python-arch: x64
            freethreaded: false
            build-type: pack
            debug: false
          
          - name: OlivOS-Win64-old-release
            enable: true
            runs-on: windows-latest
            python-version: '3.7.5'
            arch: amd64
            python-arch: x64
            freethreaded: false
            build-type: pyinstaller
            debug: false
          
          - name: OlivOS-Win64-old-debug
            enable: true
            runs-on: windows-latest
            python-version: '3.7.5'
            arch: amd64
            python-arch: x64
            freethreaded: false
            build-type: pyinstaller
            debug: true
          
          - name: OlivOS-Win32-old-release
            enable: true
            runs-on: windows-latest
            python-version: '3.7.5'
            arch: '386'
            python-arch: x86
            freethreaded: false
            build-type: pyinstaller
            debug: false
          
          - name: OlivOS-Win32-old-debug
            enable: true
            runs-on: windows-latest
            python-version: '3.7.5'
            arch: '386'
            python-arch: x86
            freethreaded: false
            build-type: pyinstaller
            debug: true
          
          - name: OlivOS-Win32-old-pack
            enable: true
            runs-on: windows-latest
            python-version: '3.7.5'
            arch: '386'
            python-arch: x86
            freethreaded: false
            build-type: pack
            debug: false
    with:
      name: ${{ matrix.name }}
      enable: ${{ matrix.enable }}
      runs-on: ${{ matrix.runs-on }}
      python-version: ${{ matrix.python-version }}
      arch: ${{ matrix.arch }}
      python-arch: ${{ matrix.python-arch }}
      freethreaded: ${{ matrix.freethreaded }}
      build-type: ${{ matrix.build-type }}
      debug: ${{ matrix.debug }}

  build-linux-publish:
    uses: ./.github/workflows/build-task-linux.yml
    strategy:
      fail-fast: false 
      matrix:
        include:
          - name: OlivOS-Linux64-release
            enable: true
            runs-on: ubuntu-latest
            python-version: '3.10.8'
            arch: amd64
            python-arch: x64
            freethreaded: false
            build-type: pyinstaller
            debug: false
    with:
      name: ${{ matrix.name }}
      enable: ${{ matrix.enable }}
      runs-on: ${{ matrix.runs-on }}
      python-version: ${{ matrix.python-version }}
      arch: ${{ matrix.arch }}
      python-arch: ${{ matrix.python-arch }}
      freethreaded: ${{ matrix.freethreaded }}
      build-type: ${{ matrix.build-type }}
      debug: ${{ matrix.debug }}

  build-linux:
    uses: ./.github/workflows/build-task-linux.yml
    strategy:
      fail-fast: false 
      matrix:
        include:
          - name: OlivOS-Linux64-nuitka
            enable: true
            runs-on: ubuntu-latest
            python-version: '3.10.8'
            arch: amd64
            python-arch: x64
            freethreaded: false
            build-type: nuitka
            debug: false

          - name: OlivOS-Linux64-ARM64-release
            enable: false
            runs-on: ubuntu-latest
            python-version: '3.10.8'
            arch: arm64
            python-arch: arm64
            freethreaded: false
            build-type: pyinstaller
            debug: false

          - name: OlivOS-Linux64-ARM64-nuitka
            enable: false
            runs-on: ubuntu-latest
            python-version: '3.10.8'
            arch: arm64
            python-arch: arm64
            freethreaded: false
            build-type: nuitka
            debug: false
    with:
      name: ${{ matrix.name }}
      enable: ${{ matrix.enable }}
      runs-on: ${{ matrix.runs-on }}
      python-version: ${{ matrix.python-version }}
      arch: ${{ matrix.arch }}
      python-arch: ${{ matrix.python-arch }}
      freethreaded: ${{ matrix.freethreaded }}
      build-type: ${{ matrix.build-type }}
      debug: ${{ matrix.debug }}

  build-macos-publish:
    uses: ./.github/workflows/build-task-macos.yml
    strategy:
      fail-fast: false 
      matrix:
        include:
          - name: OlivOS-MacOS64-release
            enable: true
            runs-on: macos-latest
            python-version: '3.11.0'
            arch: amd64
            python-arch: x64
            freethreaded: false
            build-type: pyinstaller
            debug: false
    with:
      name: ${{ matrix.name }}
      enable: ${{ matrix.enable }}
      runs-on: ${{ matrix.runs-on }}
      python-version: ${{ matrix.python-version }}
      arch: ${{ matrix.arch }}
      python-arch: ${{ matrix.python-arch }}
      freethreaded: ${{ matrix.freethreaded }}
      build-type: ${{ matrix.build-type }}
      debug: ${{ matrix.debug }}

  build-macos:
    uses: ./.github/workflows/build-task-macos.yml
    strategy:
      fail-fast: false 
      matrix:
        include:
          - name: OlivOS-MacOS64-nuitka
            enable: false
            runs-on: macos-latest
            python-version: '3.11.0'
            arch: amd64
            python-arch: x64
            freethreaded: false
            build-type: nuitka
            debug: false
    with:
      name: ${{ matrix.name }}
      enable: ${{ matrix.enable }}
      runs-on: ${{ matrix.runs-on }}
      python-version: ${{ matrix.python-version }}
      arch: ${{ matrix.arch }}
      python-arch: ${{ matrix.python-arch }}
      freethreaded: ${{ matrix.freethreaded }}
      build-type: ${{ matrix.build-type }}
      debug: ${{ matrix.debug }}

  release-draft:
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag'
    needs:
      - build-windows-publish
      - build-linux-publish
    permissions:
      contents: write
    steps:
      - name: Download Windows Artifact
        uses: actions/download-artifact@v4
        with:
          name: OlivOS-Win
          path: OlivOS-Win/
      
      - name: Download Linux Artifact
        uses: actions/download-artifact@v4
        with:
          name: OlivOS-Linux
          path: OlivOS-Linux/
      
      - name: Packing Release
        run: |
          cd ./OlivOS-Win
          zip -r ../OlivOS-Win.zip ./
          cd ../
          cp ./OlivOS-Win.zip ./OlivOS-Win-${{ github.ref_name }}.zip
          
          cd ./OlivOS-Linux
          zip -r ../OlivOS-Linux.zip ./
          cd ../
          cp ./OlivOS-Linux.zip ./OlivOS-Linux-${{ github.ref_name }}.zip
          
          ls -R
      
      - name: Create Draft Release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
          draft: true
          allowUpdates: true
          removeArtifacts: true
          artifacts: |
            ./OlivOS-Win.zip
            ./OlivOS-Win-${{ github.ref_name }}.zip
            ./OlivOS-Linux.zip
            ./OlivOS-Linux-${{ github.ref_name }}.zip
