name: Lint
on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]
  workflow_dispatch:
jobs:
  run-flake8-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11.0
        cache: pip
        architecture: x64
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r ./requirements310.txt
        python -m pip install flake8
    - name: Run Flake8 Check
      run: |
        python ./script/flake8_check.py --exit-zero
    - name: Upload Flake8 Output
      uses: actions/upload-artifact@v4
      with:
        name: flake8_output
        path: ./flake8_output.log
