name: pypiPublish
on:
  push:
    branches: [ pypipublish ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v2
      - name: Deploy Pypi
        uses: remorses/pypi@v3
        with:
          setup_file: ./setup.py
          username: __token__
          password: ${{ secrets.OWNERPYPITOKEN }}
